{% extends 'base.html.twig' %}

{% block title %}Inscription Particuliers{% endblock %}

{% block body %}

    <h1 class="text-center mt-3 mb-3">Inscription Particuliers</h1>

        {{ form_start(individualRegistrationForm) }}
            {{ form_widget(individualRegistrationForm) }}
   
            <button type="submit" class="btn btn-success">Valider</button>
        {{ form_end(individualRegistrationForm) }}

{% endblock %}
