{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center mt-3 mb-3">Inscription</h1>

    <div class="mb-3 text-center">
        <a href="{{path('app_company_register')}}" class="btn btn-dark">Entreprise</a>
        <a href="{{path('app_individual_register')}}" class="btn btn-dark">Particulier</a>
    </div>

    </div>

{% endblock %}
