body {
    background-color: #FAF6F0;
    overflow: auto;
    font-family: 'CooperHewitt-Book', arial;
    color: #352025;
}

.container {
    min-height: 82vh;
}

strong {
    font-family: 'CooperHewitt-Medium', arial;
}

.homepage a {
    color: #6e081f;
}

.homepage a:hover {
    color: #897A73;
}

#login-name{
    color: #FAF6F0;
}

/*  -------------------------------- Navbar --------------------------------- */

.navbar-brand {
    font-family: 'Quattrocento', serif;
    font-size: 1.3em;
}

.navbar-brand:hover {
    font-family: 'Quattrocento', serif;
    font-size: 1.3em;
    color: #897A73;
}

.navbar {
    background-color: #6e081f;
}

.nav-link, .navbar-brand{
    color: #FAF6F0;
}

.nav-item a:hover{
    color: #897A73;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,235,221, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: #FAF6F0;
}

/*  -------------------------------- Card --------------------------------- */

.card {
    background-color: #F4EBDD;
    border: 1px #6e081f solid;
}

.card-title a {
    color: #6e081f;;
}

/*  -------------------------------- Buttons --------------------------------- */

.btn {
    background-color: #FAF6F0;
    color: #352025;
}

.btn:hover{
    background-color: #352025;
    color: #FAF6F0;
}

.btn:focus{
    background-color: #6e081f;
    color: #FAF6F0;
}

.thead {
    background-color: #6e081f ;
    color: #FAF6F0;
}

/*  -------------------------------- Picto --------------------------------- */

.title-picto {
    color: #352025;
    font-size: 1.5em;
}

.title-picto:hover {
    color: #6e081f;
    text-decoration: none;
}

.picto {
    color: #352025;
}

.picto:hover{
    color: #6e081f;
}

/*  -------------------------------- Shop --------------------------------- */

.badge-product {
    background-color: #352025;
    color: #FAF6F0;
}

.shop__add-cart-btn {
    background-color: #6e081f;
    color: #FAF6F0;
}

.imageContainer {
    position: relative;
}

.notToSell {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    opacity: 0.7;
    color: #FAF6F0;
    align-items: center;
    justify-content: center;
}

/*  -------------------------------- Company --------------------------------- */

.show_company{
    border: 1px #352025 solid;
    padding-top : 2em;
    padding-bottom: 1em;
}

/*  -------------------------------- Google Map --------------------------------- */
#map {
height: 400px;
}

#locationField, #controls {
    position: relative;
    width: 480px;
}

#autocomplete {
position: absolute;
top: -10px;
left: 0px;
width: 99%;
}


#locationField {
height: 20px;
margin-bottom: 2px;
}