{% extends 'base.html.twig' %}

{% block title %}Caveau{% endblock %}

{% block body %}
    <h1>Ajouter un caveau</h1>

    {{ include('company/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('company_index') }}">Retour</a>
{% endblock %}
