{% extends 'base.html.twig' %}

    {% block title %}{{ company.name }}{% endblock %}

    {% block body %}
        <h1 class="text-center mb-5">{{ company.name }}</h1>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <img src="{{ company.picture }}" class="mb-3 mr-3 rounded float-left mw-100">
                    <p class="card-text">
                    {{ company.presentation }}
                    </p>
                </div>
            </div>
        </div>

        <h2>Produits de la boutique :</h2>
        

    {% endblock %}