{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a href="{{ path('contacts') }}">Contacts</a>
      <a href="{{ path('legal_mentions') }}">Legal mentions</a>
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->
{% endblock %}