{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<h1>Bienvenue sur ton tableau de bord {{ app.user.username }} </h1>

<div>
<h2>Mes produits :</h2>
{% for product in productsList %}

<li>{{ product.appellation }}</li>

{% endfor %}


<h2>Mes commandes :</h2>
{% for order in ordersList %}

<li>{{ order.trackingNumber }}</li>

{% endfor %}
</div>

{% endblock %}
