{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Modifier une commande</h1>

    <a href="{{ path('board') }}" class="btn btn-dark mb-4">Retour au tableau de bord</a>

    {{ include('order/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('order/_delete_form.html.twig') }}
    
{% endblock %}
