{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Ajouter une commande</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('board') }}" class="btn btn-dark">Retour au tableau de bord</a>
{% endblock %}
